@import "mixins.css";
.wrapper-add-lista{
    width: 100%;
    .lista{
        width: 100%;
        padding-left: 0;
    }
    li{
        position: relative;
        width: 100%;
        padding: 0.5rem;
        border: .5px solid #81c5e0;
        list-style: none;
        margin: 1.5rem 0 .5rem 0;
        border-radius: 5px;
        display: flex;
        flex: 1 2 1;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    a{
        flex: 50%;
        padding: .5rem;
    }
    .boton-guardar, .boton-borrar{
        flex: 1 0 1;
        @include btnBootstrapLookLike;
    }
    /* .output-no-value{
        width: 50%;
        padding: 0.5rem;
        background: #ffc107;
        position: relative;
        left: 25%;
        border-radius: 5px;
    } */
}
.newGastoFijoCreated{
    margin-top: -1rem;
}
