.wrapper-add-lista{
    width: 100%;
    .lista{
        width: 100%;
        padding-left: 0;
    }
    li{
        position: relative;
        width: 100%;
        padding: 0.5rem;
        border: 2px solid rgb(15, 143, 194);
        background: rgba(255, 112, 98, 0.5);
        list-style: none;
        margin: 1rem 0 .5rem 0;
        /* color: white; */
        border-radius: 5px;
        display: flex;
        flex: 1 2 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    a{
        flex: 50%;
        padding: .5rem;
    }
    .boton-guardar, .boton-borrar{
        flex: 1 0 1;
        padding: .5rem;
        border: 2px solid rgb(0, 123, 255);
        border-radius: 5px;
        background: rgb(16, 128, 248);
        color: white;
        margin-left: 0;
    }
}
