.wrapper-add-lista-otros-gastos{
    text-align: center;
    .lista{
        padding-left: 0;
        margin-top: 2rem;
    }    
    li{
        display: block;
        list-style: none;
        padding: 1rem;
        margin-top: 0.2rem;
        background: rgba(4, 154, 173, 0.6);
        color: white;
        border-radius: 10px;
    }
    a{
        display: block;
    }
    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.output-no-value-otros-gastos{
    margin-top: 2rem;
}

.p-output-no-value{
    width: 80%;
    padding: 0.5rem;
    background: rgb(255, 193, 7);
    position: relative; 
    left: 10%;
    border-radius: 5px;
}
/* .lista{
    padding-left: 0;
    margin-top: 2rem;
    li{
        list-style: none;
        padding: 1rem;
        margin-top: 0.2rem;
        background: rgba(4, 154, 173, 0.6);
        color: white;
    }
    a{
        display: block;
    }
} */