@import "mixins.scss";
@import "variables.scss";
@import "main.scss";
@import "gastosFijos.scss";
@import "footer.scss";
@import "stickyHeader.scss";
@import "header.scss";
@import "addGastoFijoLista.scss";
@import "newOtrosGastos.scss";
.jumbotron{
    position: relative;
    top: 0;
    margin-bottom: 0;
    /* height: 30vh; */
    background: rgb(204, 204, 204);
    .btn-comenzar-hide{
        display: none;
    }
    .btn-comenzar{
        display: initial;
    }
}
